body {
  background-image: url("/2W5A7297.jpg");
  background-size: cover;
  /* Ensures the image covers the entire background */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
  background-attachment: fixed;
  /* Keeps the background image fixed during scrolling */
  background-position: center;
  /* Centers the background image */
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: rgb(238, 0, 0);
  text-decoration: none;
}