<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-secondary" href="#">Toma Yuen</a>
    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {{ range .Site.Menus.main }}
              {{ if or .HasChildren (eq .Name "Activities") }}
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
                  </a>
                  <ul class="dropdown-menu">
                      {{ range .Children }}
                          {{ if eq .Param.divider true }}
                          <li><hr class="dropdown-divider"></li>
                          {{ else }}
                          <li><a class="dropdown-item" href="{{ .URL }}">{{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}</a></li>
                          {{ end }}
                      {{ end }}
                  </ul>
              </li>
              {{ else }}
              <li class="nav-item">
                  <a class="nav-link{{ if $.IsMenuCurrent "main" . }} active" aria-current="page{{ end }}"href="{{ .URL }}">
                      {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
                  </a>
              </li>
          {{ end }}
      {{ end }}
      </ul>
          <!-- Search Form (left) -->
    <form class="d-flex me-auto" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <!-- Toggle Button (right) -->
    <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
  </div>
</nav>

<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
