{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col">
            {{ .Content }}
        </div>
    </div>
    <div class="row; row justify-content-center">
        <div class="col-md-2">
            <div class="card">
                <img src="/2W5A7297.jpg" class="card-img-top" alt="Placeholder Image">
                <div class="card-body">
                  <h5 class="card-title">"Nah I'd win"</h5>
                  <p class="card-text">According to all known laws of aviation, there is no way a bee should be able to fly. Its wings are too small to</p>
                  <a href="#" class="btn btn-secondary">Fiddler Pig</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="/2W5A8028.jpg" class="card-img-top" alt="Placeholder Image">
                <div class="card-body">
                  <h5 class="card-title">Mitochondria</h5>
                  <p class="card-text">My name is Yoshikage Kira. I'm 33 years old. My house is in the northeast section of Morioh, where all the</p>
                  <a href="#" class="btn btn-secondary">Fifer Pig</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="/2W5A7608.jpg" class="card-img-top" alt="Placeholder Image">
                <div class="card-body">
                  <h5 class="card-title">¯\_(ツ)_/¯</h5>
                  <p class="card-text">Hey guys, did you know that in terms of male human and female Pokémon breeding,</p>
                  <a href="#" class="btn btn-secondary">Practical Pig</a>
                </div>
            </div>
        </div>
    </div>
</div>  
{{ end }}
